body {
	margin: 0;
}
:host {
	min-height: 100vh;
	display: grid;
	grid-template:
		"nav main" 1fr
		/ 150px 1fr;
}
::slotted(xtt-page-nav) {
	grid-area: nav;
	background-color: #ffffff88;
}
::slotted(main) {
	grid-area: main;
}
